.order-item{
    display: grid;
    grid-template-columns:0.5fr 2fr 1fr 1fr 1fr ;
    align-items: start;
    gap: 30px;
    border: 1px solid rgb(106, 104, 104);
    border-radius: 10px;
    padding: 20px;
    margin: 30px 0px;
    font-size: 14px;
    color: #2a2929;
}
.order-item-food,.order-item-name{
    font-weight: 600;

}

.order-item-name {
    margin-top: 30px;
    margin-bottom: 5px;

}
.order-item-address{
    margin-bottom: 10px;
}
.order-item select{
    background-color: #f4f3f2;
    border: 1px solid rgb(73, 8, 48);
    border-radius: 10px;
    width: max(12vw,120px);
    padding: 10px;
    outline: none;
}
@media (max-width:1000px) {
    .order-item{
        font-size: 12px;
        grid-template-columns: .5fr 2fr 1fr;
        padding: 15px 8px;
    }
    .order-item select{
        padding: 5px;
        font-size: 12px;
    }
    .order-item img{
        width: 40px;
    }
}