.list{
    padding-bottom: 10px;
}
.list-table-formet {
    display: grid;
    grid-template-columns: .2fr .2fr .2fr .2fr .2fr 0.2fr 0.3fr 0.3fr;
    align-items: center;
    gap: 10px;
    padding: 12px 15px;
    border: 1px solid #cacaca;
    font-size: 13px;
}
.list-table-formet.title{
    background-color: #f9f9f9;

}
.list-table-formet img{
    width: 50px;
    height: 40px;
}
.cursor{
    cursor: pointer;
}

@media (max-width:600px) {
    .list-table-formet{
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
    .list-table-formet.title{
        display: none;
    }
}